{% extends "base.html" %}
{% block content %}
<div class="right_row" style="width:80%;">
    <div style="margin-left: 5%;">
        <h4 style="text-align: left;">personas que quisas conozcas</h4>
    </div>
    <div class="row border-radius">
        
       
            {% for solicitud in  sugerencias %}
            <div class="friend">
            <div class="friend_title">
                <img src="{{solicitud.avatar.url}} " alt="" />
                <span><b> <a href=" {% url 'inicio_app:profile' solicitud.username %}" class="">{{solicitud.username}}</a> </b><br><p></p></span>
            </div>
            </div>
            {% endfor %}
    </div>
    <center>
        <a href=""><div class="loadmorefeed">
            <i class="fa fa-ellipsis-h"></i>
        </div></a>
    </center>

{% endblock content %}


     